@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$primary-text: #0f172a;
$secondary-text: #475569;
$primary-color: #8455ff;
$secondary-color: #5222d0;
$light-primary-color: #b79ff7;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}